#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    margin: 0rem auto;
    overflow: hidden;

    background-image: url('../../assets/coffee-apple.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 0;
}

#particles {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.backgroundImg {
    position: relative;
    top: -15rem; /* Ajusta la posición de la parte superior de la imagen */
    right: 3vw; /* Ajusta la posición de la imagen */
    z-index: 3;
    height: 100vh; /* Ajusta la altura de la imagen */
}

.introContent {
    position: relative; /* Mantiene su posición en el flujo */

    margin: 0rem 0rem 0rem 7vw;
    height: 100vh;
    width: 70%;
    padding: 4rem;
    font-size: 3rem;
    font-weight: 700;

    display: flex;
    flex-grow: 1; /* Hace que tome el espacio restante */
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #00ADB5;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

 .btn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    z-index: 4;
}

.btn:hover {
    background: #00ADB5;
}

.btn:focus {
    background: red;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 840px) {
    #intro {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        height: calc(100vh - 16rem);
    }
    .backgroundImg {
        right: -10vw;
        position: absolute;
        height: 90vh;
        object-fit: cover;
        top: -10rem;
        z-index: 3;
    }
    .introContent {
        font-size: 5vw;
        margin: 0rem 0rem 0rem 0vw;
        padding: 0rem 0rem 0rem 1rem;
        z-index: 4;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    #intro {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        height: calc(100vh - 12rem);
    }
    .backgroundImg {
        position: absolute;

        top: -9rem; /* Ajusta la posición de la parte superior de la imagen */
        right: -20vw; /* Ajusta la posición de la imagen */
        z-index: 3;
        /* object-fit: cover; */
        height: 95vh; /* Ajusta la altura de la imagen */
    }
    .introContent {
        position: relative;
        margin: 0rem 0rem 0rem -3rem;
        padding: 0rem 0rem 0rem 4rem;
    }
}
